/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package me.him188.ani.datasources.bangumi.next.apis

import me.him188.ani.datasources.bangumi.next.models.BangumiNextComment
import me.him188.ani.datasources.bangumi.next.models.BangumiNextCreateCharacterComment200Response
import me.him188.ani.datasources.bangumi.next.models.BangumiNextCreateCharacterCommentRequest
import me.him188.ani.datasources.bangumi.next.models.BangumiNextErrorResponse
import me.him188.ani.datasources.bangumi.next.models.BangumiNextGetPersonCasts200Response
import me.him188.ani.datasources.bangumi.next.models.BangumiNextGetPersonWorks200Response
import me.him188.ani.datasources.bangumi.next.models.BangumiNextPerson
import me.him188.ani.datasources.bangumi.next.models.BangumiNextSubjectType

import me.him188.ani.datasources.bangumi.next.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class PersonBangumiNextApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * 创建人物的吐槽
     * 
     * @param personID 
     * @param bangumiNextCreateCharacterCommentRequest 
     * @return BangumiNextCreateCharacterComment200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun createPersonComment(personID: kotlin.Int, bangumiNextCreateCharacterCommentRequest: BangumiNextCreateCharacterCommentRequest): HttpResponse<BangumiNextCreateCharacterComment200Response> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = bangumiNextCreateCharacterCommentRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/p1/persons/{personID}/comments".replace("{" + "personID" + "}", "$personID"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 获取人物
     * 
     * @param personID 
     * @return BangumiNextPerson
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getPerson(personID: kotlin.Int): HttpResponse<BangumiNextPerson> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/p1/persons/{personID}".replace("{" + "personID" + "}", "$personID"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 获取人物的出演角色
     * 
     * @param personID 
     * @param subjectType  (optional)
     * @param type 角色出场类型: 主角，配角，客串 (optional)
     * @param limit max 100 (optional, default to 20)
     * @param offset min 0 (optional, default to 0)
     * @return BangumiNextGetPersonCasts200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getPersonCasts(personID: kotlin.Int, subjectType: BangumiNextSubjectType? = null, type: kotlin.Int? = null, limit: kotlin.Int? = 20, offset: kotlin.Int? = 0): HttpResponse<BangumiNextGetPersonCasts200Response> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        subjectType?.apply { localVariableQuery["subjectType"] = listOf("${ subjectType.value }") }
        type?.apply { localVariableQuery["type"] = listOf("$type") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/p1/persons/{personID}/casts".replace("{" + "personID" + "}", "$personID"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 获取人物的吐槽箱
     * 
     * @param personID 
     * @return kotlin.collections.List<BangumiNextComment>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getPersonComments(personID: kotlin.Int): HttpResponse<kotlin.collections.List<BangumiNextComment>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/p1/persons/{personID}/comments".replace("{" + "personID" + "}", "$personID"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<GetPersonCommentsResponse>().map { value }
    }

    @Serializable(GetPersonCommentsResponse.Companion::class)
    private class GetPersonCommentsResponse(val value: List<BangumiNextComment>) {
        companion object : KSerializer<GetPersonCommentsResponse> {
            private val serializer: KSerializer<List<BangumiNextComment>> = serializer<List<BangumiNextComment>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: GetPersonCommentsResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = GetPersonCommentsResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * 获取人物的参与作品
     * 
     * @param personID 
     * @param subjectType  (optional)
     * @param position 职位 (optional)
     * @param limit max 100 (optional, default to 20)
     * @param offset min 0 (optional, default to 0)
     * @return BangumiNextGetPersonWorks200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getPersonWorks(personID: kotlin.Int, subjectType: BangumiNextSubjectType? = null, position: kotlin.Int? = null, limit: kotlin.Int? = 20, offset: kotlin.Int? = 0): HttpResponse<BangumiNextGetPersonWorks200Response> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        subjectType?.apply { localVariableQuery["subjectType"] = listOf("${ subjectType.value }") }
        position?.apply { localVariableQuery["position"] = listOf("$position") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/p1/persons/{personID}/works".replace("{" + "personID" + "}", "$personID"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
